**What is map() function in python?**

The map() function applies a given function to each item in an iterable (like a list, tuple, etc.) and returns a map object (which can be converted to a list, set, etc.).

In [ ]:
map(function, iterable)

function: A function (like lambda x: x*2) <br>
iterable: A sequence (like [1, 2, 3]) <br>

<br><br><br><br> <hr> <br><br><br><br>

**Example 1: Double each number**

In [1]:
nums = [1, 2, 3, 4]
doubled = list(map(lambda x: x * 2, nums))
print(doubled)  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

**Example 2: Convert strings to uppercase**

In [2]:
names = ['satyaki', 'classroom', 'tech']
upper_names = list(map(str.upper, names))
print(upper_names)  # Output: ['SATYAKI', 'CLASSROOM', 'TECH']

['SATYAKI', 'CLASSROOM', 'TECH']

**Example 3: Use with a defined function**

In [3]:
def square(n):
    return n * n

numbers = [1, 2, 3]
result = list(map(square, numbers))
print(result)  # Output: [1, 4, 9]

[1, 4, 9]

In [4]:
num1 = [1,2,3,4]
num2 = [5,6,7,8]
result = list(map(lambda x,y: x+y, num1,num2))
print(result)

[6, 8, 10, 12]

In [5]:
words = ['satyaki', 'classroom', 'tech']
upper_words = list(map(str.upper, words))
print(upper_words)

['SATYAKI', 'CLASSROOM', 'TECH']

In [7]:
def get_name(person):
  return person['name']
people = [
    {'name': 'Satyaki',
     'age' : 28},
    {'name': 'Shan',
     'age' : 29},
]
print(list(map(get_name, people)))

['Satyaki', 'Shan']

Key Points: <br>
1. Does not change the original list <br>
2. Returns a map object, so wrap with list() to see results <br>
3. Works well with lambda, def, or built-in functions <br>

**Classroom Tech** <br>
üì© Email: classroomtech.in@gmail.com <br>
üìû Contact: 8981838547 <br>
üë®‚Äçüè´ Satyaki Das, Founder & Educator <br>
¬© 2025 Classroom Tech. All rights reserved. <br>